<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finddreams.multilanguage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".SophixStubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".LandScapeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity android:name=".SetLanguageActivity" />
        <activity android:name=".OtherActivity"></activity>
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="24688585-1" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="c8137293a75ae1bef50f010d90640a9d" />
    </application>

</manifest>